{% extends 'base.html.twig' %}

{% block title %}Our Contact Form{% endblock title %}

{% block body %}
    {#<form action="" method="post" class="col-4">#}
    {#<input type="text" class="form-control" name="ada" id="ada">#}
    {#    <button type="submit" class="btn btn-primary">Submit</button>#}

    {#</form>#}

    <section class="h-100">
        <header class="container h-100">
            <div class="d-flex justify-content-center">
                <form action="" method="post" class="col-4">
                    <h4 class="text align-self-center p-2" for="number">Find maximum value</h4>
                    <small class="form-text text-muted">Enter string of numbers between 1 - 99999</small>

                    <div id="addresses">
                        <div class="number input-group mb-2">
                            <input type="number" class="form-control" name="number0" id="number0">
                            <button class="btn" type="button" id="add">+</button>
                        </div>
                    </div>

                    {#                    <div id="numbers">#}
                    {#                        <div class="number form-row mt-2" id="number0">#}

                    {#                            <input type="text" name="number[]"/>#}
                    {#                            <div class="addmoreadd">#}
                    {#                                <button id="b1" class="btn addmore" type="button">+</button>#}
                    {#                            </div>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <button type="submit" class="btn btn-primary">Submit</button>

                    <div class="form-row">
                        {#                        <div class="field_wrapper col-8">#}
                        {#                            <div>#}
                        {#                                <input type="text" name="field_name[]" value="" id="numbers"/>#}
                        {#                                <a href="javascript:void(0);" class="add_button" title="Add field">#}
                        {#                                    <button id="b1" class="btn add-more" type="button">+</button>#}
                        {#                                </a>#}
                        {#                            </div>#}
                        {#                        </div>#}
                        {#                        <div class="col-8">#}
                        {#                            <input name="numbers" class="form-control" id="numbers">#}
                        {#                        </div>#}
                        {% if results %}
                            <table class="table mt-2">
                                <thead>
                                <tr>
                                    <th scope="col">Number</th>
                                    <th scope="col">MaxValue</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for key,result in results %}
                                    <tr>
                                        <td scope="row">{{ key }}</td>
                                        <td>{{ result }}</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            {#                                                <div class="">#}
                            {#                            #}{#                        <label type="text" class="form-control" value="Result: {{ result }}">#}
                            {#                            #}{#                    </div>#}
                        {% endif %}
                        {#                {% for i in 0..10 %}#}
                        {#                    <div class="">#}
                        {#                        <input type="number" name="number" class="form-control" id="number{{ i }}">#}
                        {#                    </div>#}
                        {#                    {% if result %}#}
                        {#                        <div class="">#}
                        {#                            <input type="text" class="form-control" value="Result: {{ result[i] }}">#}
                        {#                        </div>#}
                        {#                    {% endif %}#}
                        {#                {% endfor %}#}
                    </div>
                    {#                    <button type="submit" class="btn btn-primary">Submit</button>#}
                </form>
            </div>

        </header>
    </section>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function() {
        var count=1;
$("#add").click(function(){
    if (count <= 9) {
    var html="<div class='input-group mb-2'><input class='form-control' name='number"+count+"' type='text'></input><button type='button' class='rmbtn btn'>-</button></div>";
    $("#addresses").append(html);
}
    count++;
});

$("body").on("click", ".rmbtn", function() {
    $(this).parent().remove();
});

        });

    </script>
{% endblock %}
